<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.team.medical.persitence.AdminDAO">

	<!-- 관리자 로그인 -->
	<select id="adminLoginPro" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM admin WHERE adminid=#{id} AND
		adminpwd=#{pwd}
	</select>

	<!-- 일반회원목록 개수 -->
	<select id="getMemberListCnt" resultType="int">
		SELECT COUNT(*) FROM guest WHERE status = 0 AND sanctions = 0
	</select>

	<!-- 일반회원목록 조회 -->
	<select id="getMemberList" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
		select * 
    	  from (
                 SELECT guestNo 
                      , guestid
                      , guestname
                      , address2
                      , guestage
                      , guesttel
                      , sanctions
                      , guestdate
					  , rownum rNum        
            	   from (
                	      select * 
                            from guest
                           where status = 0
                             and sanctions = 0
                           order by guestNo desc
                        )
               )
               <![CDATA[
         WHERE rNum >= #{start}
           AND rNum <= #{end}
               ]]>
	</select>

	<!-- 일반회원검색목록 개수 구하기 -->
	<select id="search_memberCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(guestNo) FROM guest
		<where>
			<choose>
				<when test="sc == 0 ">
					guestNo LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					AND guestname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					AND guestid LIKE '%'||#{search}||'%'
				</when>
			</choose>
				AND sanctions = 0 
				AND status = 0
		</where>
	</select>
	
	<!-- 일반회원검색목록 조회 -->
	<select id="search_member" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
		
			SELECT * FROM( SELECT guestNo
					 			, guestid
					 			, guestname
					 			, address2
					 			, guestage
					 			, guesttel
					 			, sanctions
					 			, guestdate
					 			, rownum rNum
							 FROM (SELECT *
									 FROM guest
			<where>
				<choose>
					<when test="sc == 0 ">
						guestNo LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 1">
						AND guestname LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 2">
						AND guestid LIKE '%'||#{search}||'%'
					</when>
				</choose>
					AND sanctions = 0
					AND status = 0
			</where>
				ORDER BY guestNo DESC
					)
				)
				<![CDATA[ 
	                  WHERE rNum >= #{start} 
	                    AND rNum <= #{end}
      			]]>
	</select>

	<!-- 일반제제회원목록 개수 -->
	<select id="getMembersanctionsListCnt" resultType="int">
		SELECT COUNT(*) FROM guest WHERE sanctions != 0 AND status = 0
	</select>

	<!-- 일반제제회원목록 조회 -->
	<select id="getMembersanctionsList" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
		
		select * 
    	  from (
                 SELECT guestNo 
                      , guestid
                      , guestname
                      , address2
                      , guestage
                      , guesttel
                      , sanctions
                      , guestdate
					  , rownum rNum        
            	   from (
                	      select * 
                            from guest
                           where status = 0
                             and sanctions != 0
                           order by guestNo desc
                        )
               )
               <![CDATA[
         WHERE rNum >= #{start}
           AND rNum <= #{end}
               ]]>
	</select>

	<!-- 일반제제회원검색목록 개수 구하기 -->
	<select id="search_membersanctionsListCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(guestNo) FROM guest
		<where>
			<choose>
				<when test="sc == 0 ">
					guestNo LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					AND guestname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					AND guestid LIKE '%'||#{search}||'%'
				</when>
			</choose>
				AND sanctions != 0
				AND status = 0
		</where>
	</select>
	
	<!-- 일반제제회원검색목록 불러오기 -->
	<select id="search_membersanctionsList" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
		 
			SELECT * FROM( SELECT guestNo
					 			, guestid
					 			, guestname
					 			, address2
					 			, guestage
					 			, guesttel
					 			, sanctions
					 			, guestdate
					 			, rownum rNum
							 FROM (SELECT *
									 FROM guest
			<where>
				<choose>
					<when test="sc == 0 ">
						guestNo LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 1">
						AND guestname LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 2">
						AND guestid LIKE '%'||#{search}||'%'
					</when>
				</choose>
					AND sanctions != 0
					AND status = 0
			</where>
				ORDER BY guestid DESC
					)
				)
				<![CDATA[ 
	                  WHERE rNum >= #{start} 
	                    AND rNum <= #{end}
      			]]>
	</select>

	<!-- 일반탈퇴회원목록 개수 -->
	<select id="getMembersecessionListCnt" resultType="int">
		SELECT COUNT(*) FROM guest where status = 1
	</select>

	<!-- 일반탈퇴회원목록 조회 -->
	<select id="getMembersecessionList" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
			
		select * 
    	  from (
                 SELECT guestNo 
                      , guestid
                      , guestname
                      , address2
                      , guestage
                      , guesttel
                      , sanctions
                      , guestdate
					  , rownum rNum        
            	   from (
                	      select * 
                            from guest
                           where status = 1
                           order by guestNo desc
                        )
               )
               <![CDATA[
         WHERE rNum >= #{start}
           AND rNum <= #{end}
               ]]>
	</select>

	<!-- 일반탈퇴회원검색목록 개수 구하기 -->
	<select id="search_membersecessionListCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(guestNo) FROM guest
		<where>
			<choose>
				<when test="sc == 0 ">
					guestNo LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					and guestname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					and guestid LIKE '%'||#{search}||'%'
				</when>
			</choose>
				and status = 1
		</where>
	</select>
	
	<!-- 일반탈퇴회원검색목록 불러오기 -->
	<select id="search_membersecessionList" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
			SELECT * FROM( SELECT guestNo
					 			, guestid
					 			, guestname
					 			, address2
					 			, guestage
					 			, guesttel
					 			, sanctions
					 			, guestdate
					 			, rownum rNum
							 FROM (SELECT *
									 FROM guest
									<where>
										<choose>
											<when test="sc == 0 ">
												guestNo = #{search}
											</when>
											<when test="sc == 1">
												and guestname LIKE '%'||#{search}||'%'
											</when>
											<when test="sc == 2">
												and guestid LIKE '%'||#{search}||'%'
											</when>
										</choose>
										and status = 1
									</where>
									ORDER BY guestid DESC
					)
				)
				<![CDATA[ 
	                  WHERE rNum >= #{start} AND rNum <= #{end}
      			]]>
	</select>

	<!-- 일반탈퇴회원삭제 처리 -->
    <delete id="memberdeletePro">
   	 	DELETE guest WHERE guestNo=#{guestNo}
    </delete>

	<!-- 일반회원제제관리 조회 -->
	<select id="membersanctionManage" parameterType="java.util.Map" resultType="com.team.medical.vo.GuestVO">
		SELECT * FROM guest where guestNo=#{guestNo}
	</select>

	<!-- 일반회원제제관리 처리 -->
	<update id="membersanctionManagePro" parameterType="com.team.medical.vo.GuestVO"> 
		UPDATE  guest 
		<set>
				guestNo		=	#{guestNo},
				guestname	=	#{guestname},
				guestid		=	#{guestid},
				sanctions	=	#{sanctions},
				reason		=	#{reason},
			<if test="sanctions == 3">
				status		= 	1
			</if>
		</set>
		 WHERE  guestNo		=	#{guestNo} 
	</update>








	<!-- 의사회원목록 개수 -->
	<select id="getDoctorListCnt" resultType="int">
		SELECT COUNT(*) FROM doctor 
		<where>
			doctorappro = 1 AND sanctions = 0
		</where>
	</select>

	<!-- 의사회원목록 조회 -->
	<select id="getDoctorList" parameterType="java.util.Map" resultType="com.team.medical.vo.DoctorVO">
		SELECT * 
		  FROM (
				SELECT doctorno 
					 , doctorid
					 , doctorname
					 , doctorspecialism
		 			 , doctorappro
					 , sanctions
					 , point
					 , doctorregstration
					 , hospitalno
					 , rownum rNum        
				  FROM (
						SELECT * 
						  FROM doctor
						 WHERE doctorappro = 1 
						   AND sanctions = 0
						 ORDER by doctorno desc
						)
				)
		<![CDATA[
		 WHERE rNum >= #{start}
		   AND rNum <= #{end}
		]]>
	</select>

	<!-- 의사회원검색목록 개수 구하기 -->
	<select id="search_doctorCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(doctorno) FROM doctor
		<where>
			 doctorappro = 1 AND sanctions = 0
			<choose>
				<when test="sc == 0 ">
					AND doctorid LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					AND doctorname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					AND hospitalname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 3">
					AND doctorspecialism LIKE '%'||#{search}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 의사회원검색목록 조회 -->
	<select id="search_doctor" parameterType="java.util.Map" resultType="com.team.medical.vo.DoctorVO">
		select * 
    	  from (
                 SELECT doctorno 
                      , doctorid
                      , doctorname
                      , doctorspecialism
                      , doctorappro
                      , sanctions
                      , point
                      , doctorregstration
                      , hospitalno
					  , rownum rNum        
            	   from (
                	      select * 
                            from doctor
								WHERE doctorappro = 1 
                              	  AND sanctions = 0
								<choose>
									<when test="sc == 0 ">
										AND doctorid LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 1">
										AND doctorname LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 2">
										AND hospitalname LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 3">
										AND doctorspecialism LIKE '%'||#{search}||'%'
									</when>
								</choose>
                           ORDER by doctorno desc
                        )
               )
				<![CDATA[
         	WHERE rNum >= #{start}
           	  AND rNum <= #{end}
               ]]>
	</select>

	<!-- 의사회원 승인대기 목록 개수 -->
	<select id="getDoctorPermissionListCnt" resultType="int">
		SELECT COUNT(*) FROM doctor 
		<where>
			doctorappro = 0
		</where>
	</select>

	<!-- 의사회원 승인대기 목록 조회 -->
	<select id="getDoctorPermissionList" parameterType="java.util.Map" resultType="com.team.medical.vo.DoctorVO">
		SELECT * 
		  FROM (
				SELECT doctorno 
					 , doctorid
					 , doctorname
					 , doctorspecialism
		 			 , doctorappro
					 , sanctions
					 , point
					 , doctorregstration
					 , hospitalno
					 , rownum rNum        
				  FROM (
						SELECT * 
						  FROM doctor
						 WHERE doctorappro = 0
						 ORDER by doctorno desc
						)
				)
		<![CDATA[
		 WHERE rNum >= #{start}
		   AND rNum <= #{end}
		]]>
	</select>


	<!-- 의사탈퇴회원 목록 개수 -->
	<select id="getDoctorSecessionListCnt" resultType="int">
		SELECT COUNT(*) FROM doctor 
		<where>
			doctorappro >= 2
		</where> 
	</select>

	<!-- 의사탈퇴회원 목록 조회 -->
	<select id="getDoctorSecessionList" parameterType="java.util.Map" resultType="com.team.medical.vo.DoctorVO">
		SELECT * 
		  FROM (
				SELECT doctorno 
					 , doctorid
					 , doctorname
					 , doctorspecialism
		 			 , doctorappro
					 , sanctions
					 , point
					 , doctorregstration
					 , rownum rNum        
				  FROM (
						SELECT * 
						  FROM doctor
			 			 where doctorappro >= 2
						 ORDER by doctorno desc
						)
				)
		<![CDATA[
		 WHERE rNum >= #{start}
		   AND rNum <= #{end}
		]]>
	</select>

	<!-- 의사탈퇴회원 검색목록 개수 구하기 -->
	<select id="search_doctorSecessionCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(doctorno) FROM doctor
		<where>
			 doctorappro >= 2
			<choose>
				<when test="sc == 0 ">
					AND doctorid LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					AND doctorname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					AND hospitalname LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 3">
					AND doctorspecialism LIKE '%'||#{search}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 의사탈퇴회원 검색목록 조회 -->
	<select id="search_doctorSecession" parameterType="java.util.Map" resultType="com.team.medical.vo.DoctorVO">
		 select * 
    	  from (
                 SELECT doctorno 
                      , doctorid
                      , doctorname
                      , doctorspecialism
                      , doctorappro
                      , sanctions
                      , point
                      , doctorregstration
					  , rownum rNum        
            	   from (
                	      select * 
                            from doctor
                            <where>
			 					doctorappro >= 2
								<choose>
									<when test="sc == 0 ">
										AND doctorid LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 1">
										AND doctorname LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 2">
										AND hospitalname LIKE '%'||#{search}||'%'
									</when>
									<when test="sc == 3">
										AND doctorspecialism LIKE '%'||#{search}||'%'
									</when>
								</choose>
							</where>
                           ORDER by doctorno desc
                        )
               )
				<![CDATA[
         	WHERE rNum >= #{start}
           	  AND rNum <= #{end}
               ]]>
	</select>
	
	<!-- 의사 회원 삭제 처리 -->
    <delete id="doctordeletePro">
   	 	DELETE doctor WHERE doctorno=#{doctorno}
    </delete>	

	<!-- 의사 회원 승인 처리 -->
	<update id="doctorPermissionPro" parameterType="com.team.medical.vo.DoctorVO"> 
		UPDATE  doctor SET doctorappro =	1
		 WHERE  doctorno =	#{doctorno} 
	</update>
	
	<!-- 의사 회원 제명 처리 -->
	<update id="doctorExpelPro" parameterType="com.team.medical.vo.DoctorVO"> 
		UPDATE  doctor SET doctorappro 	=	#{doctorappro},
						   sanctions 	=	#{sanctions}
		 WHERE  doctorno =	#{doctorno} 
	</update>
	
	<!-- 제휴병원 승인 처리 -->
	<update id="hospitalPermissionPro" parameterType="com.team.medical.vo.HospitalVO"> 
		UPDATE  hospital SET hospitalstate =	1
							,doctorno = #{doctorno}
		 WHERE  hospitalno =	#{hospitalno} 
	</update>

	
	<!-- 병원 정보 -->
	<select id="getHospital" resultType="com.team.medical.vo.HospitalVO">
		SELECT * FROM hospital WHERE hospitalno = #{hospitalno}
	</select>
	










	<!-- 병원 목록 개수 -->
	<select id="getHospitalListCnt" resultType="int">
		SELECT COUNT(*) FROM hospital 
		<where>
			<choose>
				<when test="hospitalChoice == 0 ">
					hospitalstate = 0
						<choose>
							<when test="sc == 1 ">
								AND hospitalname LIKE '%'||#{search}||'%'
							</when>
							<when test="sc == 2">
								AND hospitaladdr LIKE '%'||#{search}||'%'
							</when>
							<when test="sc == 3">
								AND hospitalkind LIKE '%'||#{search}||'%'
							</when>
						</choose>
				</when>
			
				<when test="hospitalChoice == 1">
				     hospitalstate = 1
				     <choose>
						<when test="sc == 1 ">
							AND hospitalname LIKE '%'||#{search}||'%'
						</when>
						<when test="sc == 2">
							AND hospitaladdr LIKE '%'||#{search}||'%'
						</when>
						<when test="sc == 3">
							AND hospitalkind LIKE '%'||#{search}||'%'
						</when>
					</choose>
				</when>
			</choose>
		</where>
	</select>
	

	<!-- 병원 목록 조회 -->
	<select id="getHospitalList" parameterType="java.util.Map" resultType="com.team.medical.vo.HospitalVO">
		SELECT * 
		  FROM (
				SELECT hospitalno 
					 , hospitalname
					 , hospitalphone
					 , hospitaladdr
		 			 , hospitalkind
					 , hospitalinstruction
					 , rownum rNum        
				  FROM (
						SELECT * 
						  FROM hospital
					  	<where>
							<choose>
								<when test="hospitalChoice == 0 ">
									hospitalstate = 0 
										<choose>
											<when test="sc == 1 ">
												AND hospitalname LIKE '%'||#{search}||'%'
											</when>
											<when test="sc == 2">
												AND hospitaladdr LIKE '%'||#{search}||'%'
											</when>
											<when test="sc == 3">
												AND hospitalkind LIKE '%'||#{search}||'%'
											</when>
										</choose>
								</when>
								
								<when test="hospitalChoice == 1">
									hospitalstate = 1
										<choose>
											<when test="sc == 1 ">
												AND hospitalname LIKE '%'||#{search}||'%'
											</when>
											<when test="sc == 2">
												AND hospitaladdr LIKE '%'||#{search}||'%'
											</when>
											<when test="sc == 3">
												AND hospitalkind LIKE '%'||#{search}||'%'
											</when>
										</choose>
								</when>
							</choose>
						</where>
			 			 
						 ORDER by hospitalno desc
						)
				)
		<![CDATA[
		 WHERE rNum >= #{start}
		   AND rNum <= #{end}
		]]>
	</select>

	<!-- 병원정보수정 -->
	<update id="hospitalModifyPro" parameterType="com.team.medical.vo.HospitalVO">
		UPDATE hospital SET    hospitalno			=	#{hospitalno}
						 	 , hospitalname			=	#{hospitalname}
						 	 , hospitaladdr			=	#{hospitaladdr}
						 	 , hospitalphone		=	#{hospitalphone}
						 	 , hospitalinstruction	=	#{hospitalinstruction}
		 WHERE hospitalno = #{hospitalno}
	</update>

	<!-- 약 목록 개수 -->
	<select id="adminGetDrugListCnt" resultType="int">
		SELECT COUNT(*) FROM drug
	</select>

	<!-- 약 목록 조회 -->
	<select id="adminGetDrugList" parameterType="java.util.Map" resultType="com.team.medical.vo.DrugVO">
		SELECT *
          FROM ( 
                SELECT  drugCode,drugName,drugCompany,drugGroupCode,drugGroup,pro_Usual,admitDate,
                        temperState,shape,drugImage,signF,signB,drugForm,colorF,colorB,splitlineF,splitlineB,maxAxis,
                        minAxis,thickness,registDate,markF,markB,markImageF,markImageB,markCodeF,markCodeB,
                        drugStorageMethod,drugEfficacy,drugUsedCapacity,drugPrecautions, rownum rNum
                  FROM ( 
                         SELECT * 
                           FROM drug 
                          ORDER BY drugCode DESC )
               )
       <where>
      <![CDATA[             
        rNum >= #{start} AND rNum <= #{end}
      ]]>
      </where>
	</select>

	<!-- 약 목록 삭제 처리 -->
    <delete id="drugdeletePro">
   	 	DELETE drug WHERE drugCode=#{drugCode}
    </delete>

	<!-- 약 검색목록 개수 구하기 -->
	<select id="search_drugListCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(drugCode) FROM drug
		<where>
			<choose>
				<when test="sc == 0 ">
					drugCode LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					and drugName LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					and drugCompany LIKE '%'||#{search}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 약검색목록 불러오기 -->
	<select id="search_drugList" parameterType="java.util.Map" resultType="com.team.medical.vo.DrugVO">
			SELECT *
	          FROM ( 
	                SELECT  drugCode,drugName,drugCompany,drugGroupCode,drugGroup,pro_Usual,admitDate,
	                        temperState,shape,drugImage,signF,signB,drugForm,colorF,colorB,splitlineF,splitlineB,maxAxis,
	                        minAxis,thickness,registDate,markF,markB,markImageF,markImageB,markCodeF,markCodeB,
	                        drugStorageMethod,drugEfficacy,drugUsedCapacity,drugPrecautions, rownum rNum
	                  FROM ( 
	                         SELECT * 
	                           FROM drug 
								<where>
									<choose>
										<when test="sc == 0 ">
											drugCode LIKE '%'||#{search}||'%'
										</when>
										<when test="sc == 1">
											and drugName LIKE '%'||#{search}||'%'
										</when>
										<when test="sc == 2">
											and drugCompany LIKE '%'||#{search}||'%'
										</when>
									</choose>
								</where>
			 				  	ORDER BY registDate DESC 
			 				)
	               )
				<![CDATA[ 
	                  WHERE rNum >= #{start} 
	                    AND rNum <= #{end}
      			]]>
	</select>

	<!-- 약 추가 처리 -->
	<insert id="drugAddPro" parameterType="com.team.medical.vo.DrugVO">
		insert into drug ( drugCode		
						 , drugName
						 , drugCompany
						 , drugGroupCode
						 , drugGroup
						 , pro_Usual
						 , admitDate
						 , temperState
						 , shape	
						 , drugImage	
						 , signF		
						 , signB		
						 , drugForm	
						 , colorF	
						 , colorB	
						 , splitlineF
						 , splitlineB	
						 , maxAxis		
						 , minAxis		
						 , thickness	
						 , registDate
						 , markF		
						 , markB		
						 , markImageF	
						 , markImageB	
						 , markCodeF	
						 , markCodeB	
						 , drugStorageMethod
						 , drugEfficacy		
						 , drugUsedCapacity	
						 , drugPrecautions	
						 )
		values(			   drugCode.nextval
			 			 , #{drugName}
			 			 , #{drugCompany}
			 			 , #{drugGroupCode}
						 , #{drugGroup}
						 , #{pro_Usual}
						 , #{admitDate}
						 , #{temperState}
						 , #{shape}
						 , #{drugImage}
						 , #{signF}
						 , #{signB}
						 , #{drugForm}
						 , #{colorF}
						 , #{colorB}
						 , #{splitlineF}
						 , #{splitlineB}
						 , #{maxAxis}
						 , #{minAxis}
						 , #{thickness}
						 , #{registDate}
						 , #{markF}
						 , #{markB}
						 , #{markImageF}
						 , #{markImageB}
						 , #{markCodeF}
						 , #{markCodeB}
						 , #{drugStorageMethod}
						 , #{drugEfficacy}
						 , #{drugUsedCapacity}
						 , #{drugPrecautions}
			  )
	</insert>
	
	<!-- 약 수정 폼 -->
	<select id="drugModify" resultType="com.team.medical.vo.DrugVO">
		SELECT * FROM drug WHERE drugCode = #{drugCode}
	</select>
	
	<!-- 약 수정 처리 -->
	<update id="drugModifyPro" parameterType="com.team.medical.vo.DrugVO">
		UPDATE drug SET    drugStorageMethod	=	#{drugStorageMethod}
						 , drugEfficacy			=	#{drugEfficacy}
						 , drugUsedCapacity		=	#{drugUsedCapacity}
						 , drugPrecautions		=	#{drugPrecautions}
		 WHERE drugCode = #{drugCode}
	</update>








	<!-- 질병 목록 개수 -->
	<select id="getDiseaseListCnt" resultType="int">
		SELECT COUNT(*) FROM disease
	</select>

	<!-- 질병 목록 조회 -->
	<select id="getDiseaseList" parameterType="java.util.Map" resultType="com.team.medical.vo.DiseaseVO">
			SELECT * 
			  FROM( 
				   SELECT diseaseCode
				 		, diseaseName
				 		, diseaseDefine
				 		, diseaseSymptom
				 		, diseaseDiagnosis
				 		, diseaseCure
				 		, complications
				 		, prevention
				 		, rownum rNum
					 FROM (
					 		SELECT *
							  FROM disease
							 ORDER BY diseaseCode desc
						)
					)
		 <![CDATA[
				 where rNum >= #{start} 
				   AND rNum <= #{end}
			]]>
		
	</select>

	<!-- 질병 목록 삭제 처리 -->
    <delete id="diseasedeletePro">
   	 	DELETE disease WHERE diseaseCode=#{diseaseCode}
    </delete>

	<!-- 질병검색목록 개수 구하기 -->
	<select id="search_diseaseListCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(diseaseCode) FROM disease
		<where>
			<choose>
				<when test="sc == 0 ">
					diseaseCode LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 1">
					and diseaseName LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 2">
					and diseaseSymptom LIKE '%'||#{search}||'%'
				</when>
				<when test="sc == 3">
					and complications LIKE '%'||#{search}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 질병검색목록 불러오기 -->
	<select id="search_diseaseList" parameterType="java.util.Map" resultType="com.team.medical.vo.DiseaseVO">
			SELECT * FROM( SELECT diseaseCode
				 				, diseaseName
				 				, diseaseDefine
				 				, diseaseSymptom
				 				, diseaseDiagnosis
				 				, diseaseCure
				 				, complications
				 				, prevention
				 				, rownum rNum
							 FROM (SELECT *
									 FROM disease
			<where>
				<choose>
					<when test="sc == 0 ">
						diseaseCode LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 1">
						and diseaseName LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 2">
						and diseaseSymptom LIKE '%'||#{search}||'%'
					</when>
					<when test="sc == 3">
						and complications LIKE '%'||#{search}||'%'
					</when>
				</choose>
			</where>
				ORDER BY diseaseCode DESC
					)
				)
				<![CDATA[ 
	                  WHERE rNum >= #{start} AND rNum <= #{end}
      			]]>
	</select>

	<!-- 질병 추가 처리 -->
	<insert id="diseaseAdd" parameterType="com.team.medical.vo.DiseaseVO">
		insert into disease (diseaseCode, diseaseName, diseaseDefine, diseaseCause, diseaseSymptom, diseaseDiagnosis, diseaseCure, complications, prevention)
		values(disease_seq.nextval, #{diseaseName}, #{diseaseDefine}, #{diseaseCause}, #{diseaseSymptom}, #{diseaseDiagnosis}, #{diseaseCure}, #{complications}, #{prevention})
	</insert>
	
	<!-- 질병 수정 폼 -->
	<select id="diseaseModify" resultType="com.team.medical.vo.DiseaseVO">
		SELECT diseaseCode
			 , diseaseName
			 , diseaseDefine
			 , diseaseCause
			 , diseaseSymptom
			 , diseaseDiagnosis
			 , diseaseCure
			 , complications
			 , prevention
		  FROM disease 
		 WHERE diseaseCode = #{diseaseCode}
	</select>
	
	<!-- 질병 수정 처리 -->
	<update id="diseaseModifyPro" parameterType="com.team.medical.vo.DiseaseVO">
		UPDATE disease SET diseaseName		=	#{diseaseName}
						 , diseaseDefine	=	#{diseaseDefine}
						 , diseaseCause		=	#{diseaseCause}
						 , diseaseSymptom	=	#{diseaseSymptom}
						 , diseaseDiagnosis	=	#{diseaseDiagnosis}
						 , diseaseCure		=	#{diseaseCure}
						 , complications	=	#{complications}
						 , prevention		=	#{prevention}
		 WHERE diseaseCode = #{diseaseCode}
	</update>








	<!-- 운동목록 개수 -->
	<select id="getExerciseListCnt" resultType="int">
		SELECT COUNT(*) FROM exercise
	</select>

	<!-- 운동 목록 조회 -->
	<select id="getExerciseList" parameterType="java.util.Map" resultType="com.team.medical.vo.ExerciseVO">
			SELECT * 
				FROM( SELECT exerciseName
				 				, exerciseDefine
				 				, exerciseMethod
				 				, exercisePart
				 				, exerciseCaution
				 				, rownum rNum
							 FROM (SELECT *
									 FROM exercise
									 ORDER BY exerciseName desc
								 )
					 )
	 <![CDATA[
			 where rNum >= #{start} 
			   AND rNum <= #{end}
		]]>
	</select>

	<!-- 운동 목록 삭제 처리 -->
    <delete id="exerciseDeletePro">
   	 	DELETE exercise WHERE exerciseName=#{exerciseName}
    </delete>

	<!-- 운동검색목록 개수 구하기 -->
	<select id="search_exerciseListCnt" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(exerciseName) FROM exercise
		<where>
			<choose>
				<when test="sc == 0 ">
					exerciseName LIKE '%'||#{search}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 운동검색목록 불러오기 -->
	<select id="search_exerciseList" parameterType="java.util.Map" resultType="com.team.medical.vo.ExerciseVO">
			SELECT * 
				FROM( 
						SELECT exerciseName
				 				, exerciseDefine
				 				, exerciseMethod
				 				, exercisePart
				 				, exerciseCaution
				 				, rownum rNum
							 FROM (SELECT *
									 FROM exercise
			<where>
				<choose>
					<when test="sc == 0 ">
						exerciseName LIKE '%'||#{search}||'%'
					</when>
				</choose>
			</where>
				ORDER BY exerciseName DESC
					)
				)
				<![CDATA[ 
	                  WHERE rNum >= #{start} AND rNum <= #{end}
      			]]>
	</select>

	<!-- 운동 추가 처리 -->
	<insert id="exerciseAddPro" parameterType="com.team.medical.vo.ExerciseVO">
		insert into exercise (exerciseName, exerciseImage, exerciseDefine, exerciseMethod, exercisePart, exerciseCaution)
		values(#{exerciseName}, #{exerciseImage}, #{exerciseDefine}, #{exerciseMethod}, #{exercisePart}, #{exerciseCaution})
	</insert>
	
	<!-- 운동 수정 폼 -->
	<select id="exerciseModify" resultType="com.team.medical.vo.ExerciseVO">
		SELECT exerciseName
			 , exerciseImage
			 , exerciseDefine
			 , exerciseMethod
			 , exercisePart
			 , exerciseCaution
		  FROM exercise 
		 WHERE exerciseName = #{exerciseName}
	</select>
	
	<!-- 운동 수정 처리 -->
	<update id="exerciseModifyPro" parameterType="com.team.medical.vo.ExerciseVO">
		UPDATE exercise SET exerciseName		=	#{exerciseName}
						  , exerciseImage		=	#{exerciseImage}
						  , exerciseDefine		=	#{exerciseDefine}
						  , exerciseMethod		=	#{exerciseMethod}
						  , exercisePart		=	#{exercisePart}
						  , exerciseCaution		=	#{exerciseCaution}
		 WHERE exerciseName = #{exerciseName}
	</update>
	
	
	
	<!-- 이벤트 추가 -->
    <insert id="addEvent" parameterType="com.team.medical.vo.EventVO">
    INSERT
		INTO event (advertisementNo, advertisementTitle, advertisementThumbnail ,advertisementImage, advertisementContents,
					advertisementRegDate, advertisementKind, advertisementStart, advertisementEnd, advertisementState)
		VALUES (advertisementnoseq.nextval, #{advertisementTitle}, #{advertisementThumbnail}, #{advertisementImage}, #{advertisementContents},
				sysdate, 1, #{advertisementStart}, #{advertisementEnd}, #{advertisementState})
    </insert>
	<!-- 이벤트 수정 -->
	<update id="upEvent" parameterType="com.team.medical.vo.EventVO">
		UPDATE event SET advertisementTitle=#{advertisementTitle}, advertisementImage=#{advertisementImage},
			advertisementContents=#{advertisementContents},advertisementThumbnail=#{advertisementThumbnail}
			WHERE advertisementNo = #{advertisementNo}
	</update>

	<!-- 이벤트 삭제 -->
	<delete id="delEvent" parameterType="int">
		DELETE event WHERE advertisementNo = #{advertisementNo}
	</delete>

	
	
	<!-- 공지사항 상세보기 -->
	<select id="adminReportInfo" resultType="com.team.medical.vo.QuestionBoardVO">
		SELECT * FROM QuestionBoard WHERE boardno = #{boardno}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="adminReportModifyPro" parameterType="com.team.medical.vo.QuestionBoardVO">
		UPDATE QuestionBoard SET boardno=#{boardno}, boardtitle=#{boardtitle}, boardcontent=#{boardcontent} WHERE boardno = #{boardno}
	</update>

	<!-- 공지사항 삭제 -->
	<delete id="adminReportDeletePro" parameterType="int">
		DELETE QuestionBoard WHERE boardno = #{boardno}
	</delete>
	
	
	
	
	<!-- 포인트목록 개수 -->
	<select id="getPointListCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM point
	</select>

	<!-- 포인트목록 조회 -->
	<select id="getPointList" parameterType="java.util.Map" resultType="com.team.medical.vo.PointVO">
		SELECT * 
		  FROM (
				SELECT pointno
					 , doctorno
					 , cum_date
					 , point
					 , status
					 , rownum rNum
				  FROM (
						SELECT * 
						  FROM point
						 ORDER by pointno desc
						)
				)
		<![CDATA[
		 WHERE rNum >= #{start}
		   AND rNum <= #{end}
		]]>
	</select>
	
	<!-- 포인트차트 -->
	<select id="pointChart" parameterType="int" resultType="int">
		select sum(point) point from point where status=#{status}
	</select>
	
</mapper>